node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
.git
.idea
.vscode
.env
.env.*
!.env.example
release
data
projects
uploads
minio-data
postgres-data
redis-data
*.log
*.tar
*.tar.gz
*.zip
